<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rabbit_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{54,129}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{54,129}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{60,127}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{60,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,127},{68,123}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{68,123}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,131},{72,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{72,119}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,131},{72,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{72,113}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,131},{74,111}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{74,111}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,131},{72,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{72,113}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{72,117}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{72,117}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,129},{72,121}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{72,121}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{68,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{68,125}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{62,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{62,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{54,129}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{54,129}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{58,127}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{58,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{66,123}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{66,123}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,133},{68,117}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{68,117}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{68,111}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{68,111}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,140},{66,107}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{66,107}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,140},{66,105}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{66,105}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,72},{66,107}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,24},{66,107}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,131},{68,113}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{68,113}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,131},{70,119}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{70,119}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{74,123}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{74,123}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{66,127}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{66,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,129}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{62,129}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{58,127}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{58,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{60,121}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{60,121}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,133},{64,115}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{64,115}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,131},{64,113}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{64,113}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,133},{64,115}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{64,115}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,133},{62,117}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,117}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,127},{58,123}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{58,123}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{54,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{54,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{58,127}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{58,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{60,127}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{60,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,129}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{62,129}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,129}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{62,129}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{1197,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21f89f6fd50400cc3fe21b1caa6b6702$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
