<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rabbit_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{52,127}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{52,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{60,125}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{60,125}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,129},{68,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{68,123}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,131},{70,117}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{70,117}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,129},{72,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{72,113}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,129},{72,111}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{72,111}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,131},{72,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{72,113}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,131},{72,117}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{72,117}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{70,121}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{70,121}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{68,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{68,125}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{62,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{52,127}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{52,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{58,125}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{58,125}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,131},{66,121}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{66,121}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,131},{66,117}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{66,117}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{66,109}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{66,109}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,138},{66,105}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{66,105}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,138},{66,105}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{66,105}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,70},{66,105}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,25},{66,105}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{66,111}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{66,111}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,131},{66,117}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{66,117}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,131},{66,121}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{66,121}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{58,125}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{58,125}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{52,127}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{52,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{50,127}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{50,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{52,125}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{52,125}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,129},{54,123}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{54,123}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,129},{56,123}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{56,123}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,129},{56,123}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{56,123}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{54,125}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{54,125}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{52,127}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{52,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{50,127}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{50,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{52,127}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{52,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{50,127}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{50,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>rabbit_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{52,127}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{52,127}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{1093,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71634de6daabf17e902f2025758f1572$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
